body {
	font-family: Verdana;
	font-size: 16px;
}
.container {
	max-width: 835px;
	margin: 0 auto;
}
@media(max-width:767px) {
	.container {
		max-width: 500px;
	}
}

.container > section {
	margin-top: 5em;
	margin-bottom: 5em;
}
h1, h2, h3, h4, h5, h6 {
	color: #02AAB3;
}
h5 {
	color: #999;
	font-size: 16px;
}
.popover {
	max-width: none;
}

header {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
header p {
	margin-bottom: 0;
}

#intro {
	font-size: 20px;
}
#intro p {
	margin-bottom: 29px;
}
#intro img {
	float: right;
	margin-top: -2em;
	margin-right: 2em;
	border-radius: 50%;
}

#contact {
	margin-top: 2em;
	padding-top: 10px;
	-webkit-transition: background-color .5s;
	        transition: background-color .5s;
}
#contact.focus {
	background-color: rgba(252, 204, 13, .4);
	-webkit-transition: background-color .5s;
	        transition: background-color .5s;
}
#contact h3 {
	margin-top: 0;
}
#contact textarea {
	height: 6.75em;
}

#offers .offer {
	margin-bottom: 2em;
}
#offers .offer h4 small {
	margin-left: 1em;
}
#offers .offer h4 small a {
	color: inherit;
}
#offers ul {
	padding-left: 2.2em;
	text-indent: -0.67em;
	list-style-type: none;
}
#offers li:before {
	display: inline-block;
	padding-right: 1em;
	font-family: FontAwesome;
	font-size: 11px;
	content: "\f068";
}
#offers .action p {
	margin: 5px 0;
}
#offers .action a {
	text-decoration: none;
}

#startups h3 {
	margin-bottom: 1em;
}

footer {
	margin-top: 2em;
	font-size: x-small;
}
